{% extends 'client/base.html' %} {% load crispy_forms_tags %}
{% block content %}

<div class="content-section">
  <div class="media d-flex m-4">
    <img
      src="{{ user.profile.image.url }}"
      alt="profile"
      class="rounded-circle mx-2"
      style="max-width: 80px; height: 80px"
    />
    <div class="media-body">
      <small>
        <h2 class="account-heading">{{ user.username }}</h2>
        <p class="text-secondary">{{ user.email }}</p>
      </small>
    </div>
  </div>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form_group m-4 p-4">
      <legend class="border-bottom mb-4">Profile Info</legend>
      {{ u_form|crispy }} {{ p_form|crispy }}
    </fieldset>
    <div class="form-group mb-2 mx-5 d-flex">
      <button class="btn btn-outline-success" type="submit">Update</button>
      <a class="btn btn-outline-danger mx-2" href="#delete">Delete Account</a>
    </div>
  </form>
</div>

{% endblock content %}