{% extends 'client/base.html' %} {% block content %}
<header class="" style="color: #196487; font-weight: 600"">Assigned Bids</header>
<div
    class=""
  >
  {% if bids %}
    {% for bid in bids %} {% if bid.assign is True %}
    <div
      class="col-md-3 p-4 m-2"
      style="
        border-radius: 10px;
        gap: 10px;
        box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
      "
    >
      <p class="lead">
        <a href="{{ bid.project.get_absolute_url }}" class="text-warning"
          >{{ bid.project}}</a
        >
      </p>
      <p class="badge bg-info">{{ bid.made_by }}</p>
      <p class="text-muted">{{ bid.date }}</p>
      <a
        class="btn btn-outline-success"
        href="{{ bid.project.get_absolute_url }}"
        >view details</a
      >
    </div>
    {% else %}
    <p>
      
    </p>
    {% endif %} {% endfor %}
    {% else %}
    <p class="alert alert-info m-2">You don't have any assigned projects to display. Assign now: <a class="text-warning" href="{% url 'client_projects' %}">Projects</a></p>
    {% endif %}
  </div>
</div>

{% endblock content %}
