{% extends 'client/base.html' %} {% load crispy_forms_tags %} 
{% block content %}

<section class="media content-section container">
  <img
    src="{{ object.username.profile.image }}"
    alt=""
    class="rounded-circle article-img"
  />
  <div class="media-body">
    <div
      class="article-metadata p-2 d-flex justify-content-between"
      style="background: #00bbbb9d"
    >
      <a href="#" class="mr-2 text-white">{{ object.username }}</a>
      <small class="badge bg-danger">
        Deadline:
        <span style="font-weight: 600">{{object.deadline}}</span></small
      >
      <span class="badge text-secondar bg-primary"
        >Price: ${{object.price}} /pg</span
      >
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <div class="mt-3 project-details">
      <h2
        class="project-title lead border-bottom"
        style="color: #198787; font-weight: 600"
      >
        {{ object.title }}
      </h2>
      <p><strong>Academic Level:</strong> {{object.academic_level}}</p>
      <p><strong>Type of Paper:</strong> {{object.type_of_paper}}</p>
      <p><strong>Subject Area:</strong> {{object.subject_area}}</p>
      <p><strong>Subject Area:</strong> {{object.paper_format}}</p>
      <p><strong>Number of Pages:</strong> {{object.number_of_pages}}</p>
      <p class="border-bottom"><strong>Spacing:</strong> {{object.spacing}}</p>
      <p class="project-content text-dark bg-light border-bottom">
        {{ object.paper_instructions }}
      </p>
      <p class="text-secondary">
        Additional Materials: {{object.additional_materials| default:'None'}}
      </p>
      <p></p>
    </div>
  </div>
  <a
    class="btn bg-success p-2 text-white"
    href="{{ object.get_absolute_url }}/update"
    style="height: fit-content; font-size: small"
    >Update</a
  >
  <a
    class="btn btn-outline-danger p-2"
    href="{{ object.get_absolute_url }}/delete"
    style="height: fit-content; font-size: small"
    >Delete</a
  >
</section>

{% endblock content %}
