{% extends 'client/base.html' %} {% load static %}  {% load crispy_forms_tags %}
{% block content %}

<div class="content-section m-5">
  <header class="header container text-center mt-3">
    <h4 class="">Place Order</h4>
    <p class="text-success">It's fast, secure, and confidential</p>
  </header>
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form_group m-4 p-4">
      <legend class="border-bottom mb-4 lead">Order Details</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group mb-2 mx-5">
      <button class="btn btn-outline-warning" type="submit">Order</button>
    </div>
  </form>
  <section class="text-center">We Accept: <img style="width: 4vw;" src="{% static 'img/cc-paypal.svg' %}" alt="Paypal"><br>
    <small class="text-info">Orders are charged a default fee of $4 per page unless on special cases where support will inform you of the price</small> <br>
    <small class="text-info">Please note that our currency is always in US Dollars $</small><br>
    <small>You can read our terms<a href="{% url 'TC' %}"> here.</a></small>
  </section>
</div>

{% endblock content %}