{% load static %}
<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/writer.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/fa/css/all.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <title>ACE - Admin</title>
    <style>
    .alert-error {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
      }
    </style>
  </head>
  <body style="background-color: #f5fcff; font-family: 'Poppins', sans-serif; height: 100%; width: 100%;">
    {% if messages %} 
        {% for message in messages %}
            <div class="alert alert-{{message.tags}} m-2">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <header class="m-4">Welcome, <span class="text-muted">{{user.username}}</span>
    <a
        href="{% url 'logout' %}"
        class="text-white btn btn-danger"
        style="text-decoration: none"
        role="button"
      >
        <i class="fa fa-sign-out-alt"></i> log out
      </a>
    </header>
    <section class="">
        <div class="col-md-12 m-4">
            <a class="btn btn-outline-primary m-2" href="/admin" role="button">Admin Panel</a>
            <a class="btn btn-outline-warning m-2" href="{% url 'application' %}" role="button">Applicant Dashboard</a>
            <a class="btn btn-outline-info m-2" href="{% url 'writer' %}" role="button">Writer Dashboard</a>
            <a class="btn btn-outline-secondary m-2" href="{% url 'client' %}" role="button">Client Dashboard</a>
        </div>
        <p class="mx-4">Tutorial: <a class="text-warning" href="#" target="_blank">Read the docs</a></p>
        <div 
        class="m-4 mt-5 p-4" 
        style="
                border-radius: 10px;
                box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
        ">
        <p class="lead">Dummy Accounts</p>
        <small>
          <ol class="text-muted p-2" style="background: whitesmoke;">
            <li>
              <strong>Username:</strong> writer <strong>Password:</strong> app12345
            </li>
            <li>
              <strong>Username:</strong> client <strong>Password:</strong> app12345
            </li>
            <li>
              <strong>Username:</strong> support <strong>Password:</strong> appadmin321
            </li>
          </ol>
        </small>
        </div>
        <div class="m-4 mt-3 p-4" style="
                    border-radius: 10px;
                    box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
                  ">
          <h6 class="lead">Logs</h6>
          <small>

            <p class="badge bg-info">Page count: 42</p>
            <div>
                <p class="badge bg-success">Released v0.33</p>
                <small class="text-muted">what's new <i class="fa fa-rocket"></i></small>
                <ul class="text-muted p-2" style="background: whitesmoke;">
                  <li class="alert alert-info alert-sm" style="list-style:none; width: fit-content;">Notifications and messaging coming to v0.34 (Wednesday). Final version = v0.35 to fix bugs</li>
                  <li>Add Feature - client can now rate writer after marking order as complete</li>
                  <li>Add Feature - charts now available</li>
                  {% comment %} <li>Add Feature - Messaging now available</li> {% endcomment %}
                  <li>Fixed bug where marking order complete failed</li>
                  <li>Fix mobile UI on some pages</li>
                </ul>
              </div>

            <div>
                <p class="badge bg-success">Released v0.32</p>
                <small class="text-muted">what's new <i class="fa fa-rocket"></i></small>
                <ul class="text-muted p-2" style="background: whitesmoke;">
                  <li>Add Feature - client can now (project detail page):
                  <ol><em>
                    <li>Mark order as complete</li>
                    <li>Assign order to a writer</li>
                    <li>View assigned bids on Bids page</li>
                  </em>
                  </ol>
                </li>
                  <li>Add Feature - now place order page fully operational</li>
                    <li>User can now delete orders successfully</li>
                  <li>Fix login issue on some pages</li>
                  <li>Enhanced UX for when there is no data to display</li>
                  <li>Add charts configuration awaiting implementation</li>
                </ul>
              </div>

            <div>
                <p class="badge bg-success">Released v0.31</p>
                <small class="text-muted">what's new <i class="fa fa-rocket"></i></small>
                <ul class="text-muted p-2" style="background: whitesmoke;">
                  <li>Add Feature - User can now disable their account</li>
                  <li>Add user permissions - User cannot access pages not designated for their account</li>
                  <li>Change login interface</li>
                  <li>Fix bug where assigned projects showing on all writers</li>
                  <li>Add Dummy accounts section</li>
                  <li>Add Bid functionality for writers</li>
                  <li>Add complete order upload functionality</li>
                </ul>
              </div>
  
              <div>
                <p class="badge bg-success">Released v0.30</p>
                <small class="text-muted">what's new <i class="fa fa-rocket"></i></small>
                <ul class="text-muted p-2" style="background: whitesmoke;">
                  <li>Fix bug where profile image not showing</li>
                  <li>Change client dashboard UI</li>
                  <li>Add profile image to sidepanel</li>
                  <li>More UI improvements</li>
                </ul>
              </div>

              <div>
                <p class="badge bg-success">Released v0.29</p>
                <small class="text-muted">what's new <i class="fa fa-rocket"></i></small>
                <ul class="text-muted p-2" style="background: whitesmoke;">
                  <li>Add logs section on admin-landing page</li>
                  <li>Add footer on dashboards in mobile display</li>
                  <li>**Fix bug where mobile menu not closing except by using menu button</li>
                </ul>
              </div>

            <div>
              <p class="badge bg-success">Released v0.28</p>
              <small class="text-muted">what's new <i class="fa fa-rocket"></i></small>
              <ul class="text-muted p-2" style="background: whitesmoke;">
                <li>Fix sidebar showing on-scroll bug in mobile</li>
                <li>Add complete task and bid display on project detail page- show only one according to condition</li>
                <li>Add calculated word count after choosing spacing on place-order page</li>
                <li>Fix bug where date was not being calculated place-order page</li>
                <li>Add subject to price calculation place-order page</li>
              </ul>
            </div>

            <div>
              <p class="badge bg-success">Released v0.27</p>
              <small class="text-muted">what's new <i class="fa fa-rocket"></i></small>
              <ul class="text-muted p-2" style="background: whitesmoke;">
                  <li>Add mobile responsiveness on Dashboards</li>
                  <li>Fix dropdown on Applicant/Application page</li>
                  <li>Remove access to Test-task page before sending application</li>
                  <li>Add CRUD functionality for clients - can now Create, Read, Update and Delete Orders </li>
                </ul>
            </div>

            <div class="border-bottom">
              <p class="badge bg-success">Released v0.26</p>
              <small class="text-muted">what's new <i class="fa fa-rocket"></i></small>
              <ul class="text-muted p-2" style="background: whitesmoke;">
                  <li>Add Admin-landing page</li>
                  <li>Intergrate writer dashboard with backend to populate data</li>
                  <li>Add JQuery on place-order page to calculate price and show live functionality</li>
                  <li>Fix 500 server error bug on writer dashboard accessing projects page</li>
                </ul>
            </div>

            <div class="mt-2">
            <p class="badge bg-success">Released v0.1</p>
            <small class="text-muted">View changes on Github <i class="fa fa-github-code-fork"></i></small>
            </div>

          </small>
        </div>   
    </section>
      </div>
    </div>
    <script
      type="text/javascript"
      src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"
    ></script>
    <script src="{% static 'js/writer.js' %}"></script>
  </body>
</html>    