{% extends 'users/base.html' %} 
{% block content %}
<p style="color: #198787; font-size: medium; font-weight: 600">
  Suggested Projects
</p>
<section class="row row-cols-1 p-2">
{% for project in projects %}
  <div
    class="col p-1 mt-2"
    style="
      border-radius: 10px;
      box-shadow: 0 1.5px 5px rgba(128, 128, 128, 0.651);
    "
  >
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item py-4" style="background: none">
        <h2 class="accordion-header" id="flush-heading{{ project.id }}">
          <button
            class="accordion-button collapsed"
            style="background: none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#flush-collapse{{ project.id }}"
            aria-expanded="false"
            aria-controls="flush-collapse{{ project.id }}"
          >
            <div class="d-flex">
              <i class="fa fa-image mt-3"></i>
              <span class="px-4"
                ><p>
                  {{project.title}}<br /><span class="badge bg-danger m-2"
                    >Category</span
                  ><a href="#writer" class="text-dark client-name" style="text-decoration: none; z-index: 2;">{{project.username}}</a>
                </p></span
              >
            </div>
          </button>
        </h2>
        <div
          id="flush-collapse{{ project.id }}"
          class="accordion-collapse collapse"
          aria-labelledby="flush-heading{{ project.id }}"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body">
            <p style="font-size: small">
              {{ project.paper_instructions|default:'This project does not have a description'}}
            </p>
            <span
              class="d-flex justify-content-between p-2"
              style="background-color: whitesmoke; border-radius: 10px"
            >
              <p style="font-weight: 600">${{project.price|default:"0"}}/month</p>
              <span>
                <a
                  class="btn btn-outline-success p-2"
                  href="{{ project.get_absolute_url }}"
                  style="height: fit-content; font-size: small"
                  >view details</a
                >
                <a
                  class="btn-warning p-2 btn text-white"
                  href="#applyproject"
                  role="button"
                  style="
                    height: fit-content;
                    font-size: small;
                    font-weight: 600;
                  "
                  >Bid</a
                >
              </span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endfor %}
</section>
{% endblock content %}
