{% extends 'users/base.html' %} {% block content %}

<section class="media content-section container">
<form method="GET" action="{{ object.get_absolute_url }}">
  <img
    src="{{ object.username.profile.image }}"
    alt=""
    class="rounded-circle article-img"
  />
  <div class="media-body">
    <div
      class="article-metadata p-2 d-flex justify-content-between"
      style="background: #00bbbb9d"
    >
      <a href="#" class="mr-2 text-white">{{ object.username }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <div class="mt-3 project-details">
      <h2
        class="project-title lead border-bottom"
        style="color: #198787; font-weight: 600"
      >
        {{ object.title }}
      </h2>
      <p><strong>Academic Level:</strong> {{object.academic_level}}</p>
      <p><strong>Type of Paper:</strong> {{object.type_of_paper}}</p>
      <p><strong>Subject Area:</strong> {{object.subject_area}}</p>
      <p><strong>Subject Area:</strong> {{object.paper_format}}</p>
      <p><strong>Number of Pages:</strong> {{object.number_of_pages}}</p>
      <p class="border-bottom"><strong>Spacing:</strong> {{object.spacing}}</p>
      <p class="project-content text-dark bg-light border-bottom">
        {{ object.paper_instructions }} <br />
        <small class="text-danger">
          Deadline:
          <span style="font-weight: 600">{{object.deadline}}</span></small
        >
      </p>
      <p>Additional Materials: {{object.additional_materials}}</p>
      <p></p>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <p>price/pg: {{object.price}}</p>
    </form>
 <input
      type="submit"
      value="Bid"
      class="btn bid btn-warning text-white d-flex justify-content-end"
    />
    {% comment %} <button
      type="submit"
      class="btn bid btn-warning text-white d-flex justify-content-end"
    >
      BID
    </button>  {% endcomment %}
  </div>
</section>

{% endblock content %}
