{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/writer.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/fa/css/all.css' %}" />
    <link rel="shortcut icon" href="#" type="image/x-icon" />
    <title>Writer</title>
  </head>
  {% if user.is_authenticated %}
  <body style="background-color: #f5fcff; font-family: 'Poppins', sans-serif">
    <!-- Sidebar menu -->
    <div class="sidebar-container">
      <div class="sidebar-logo">Writer Dashboard</div>
      <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
          <a href="{% url 'writer' %}">
            <i class="fa fa-tachometer-alt" aria-hidden="true"></i> Dashboard
          </a>
        </li>
        <li>
          <a href="{% url 'projects' %}">
            <i class="fa fa-box" aria-hidden="true"></i> Projects
          </a>
        </li>
        <li>
          <a href="{% url 'invoices' %}">
            <i class="fa fa-wallet" aria-hidden="true"></i> Invoices
          </a>
        </li>
        <li>
          <a href="{% url 'reports' %}">
            <i class="fa fa-chart-pie" aria-hidden="true"></i> Reports
          </a>
        </li>
        <li>
          <a href="{% url 'settings' %}">
            <i class="fa fa-cog" aria-hidden="true"></i> Settings
          </a>
        </li>
      </ul>
      <a
        href="{% url 'logout' %}"
        class="text-white mx-5 my-3 btn btn-warning"
        style="text-decoration: none"
        role="button"
      >
        <i class="fa fa-sign-out-alt"></i> log out
      </a>
      <div class="help mx-4 my-4">
        <p>
          Having trouble? <br />
          <a href="#contact">Contact us</a>
        </p>
      </div>
      <!-- copyright section -->
      <p
        class="
          d-flex
          flex-column
          text-white
          text-center
          badge
          mt-5
          text-center
        "
        style=" box-shadow: inset 0 -1px 3px #0000009d ,inset 0 1px 3px #0000009d;"
      >
        2021&copy; Ace The Essay <i class="fa fa-heart px-1"></i>Made by<a class="text-warning" href="#portfolio" style="text-decoration: none;">Barrylabs</a>
      </p>
      <!-- end of copyright -->
    </div>
    <!-- Page content -->
    <div class="content-container">
      <div class="container-fluid">
        <!-- navbar area -->
        <nav class="navbar">
          <div class="navbar-brand">
            <p>
              Welcome back,
              <span style="color: grey">{{user.username|default:'Guest'}}</span>
            </p>
          </div>
          <div class="form-group has-search">
            <input
              type="text"
              name="search"
              id="project"
              class="form-control"
              placeholder="Search for projects"
              style="
                border: none;
                background-color: #cfe2eb9f;
                padding: 5px;
                border-radius: 10px;
                font-size: small;
              "
            />
          </div>
        </nav>
        <!-- content area -->
        <section class="row">
          <!-- main first column -->
          <div class="col-lg-8">
            <!-- main div dividing into two -->
            <div class="row row-cols-2">
              <!-- first column -->
              <div class="col">
                <div
                  class="bg-warning p-4 text-white"
                  style="border-radius: 10px"
                >
                  <p>#graph here</p>
                  <p>Earnings</p>
                  <p style="font-size: large">${{Earnings|default:'0'}}</p>
                  <p
                    class="badge"
                    style="background-color: #00bbbb; border-radius: 15px"
                  >
                    +10% since last month
                  </p>
                </div>
              </div>
              <div class="col">
                <div
                  class="row row-cols-1 p-1"
                  style="
                    border-radius: 10px;
                    box-shadow: 0 1.5px 5px rgba(128, 128, 128, 0.651);
                  "
                >
                  <div class="col">
                    <div
                      class="d-flex mb-2 p-1"
                      style="background-color: whitesmoke; border-radius: 10px"
                    >
                      <p class="bg-warning p-2" style="border-radius: 10px">
                        98
                      </p>
                      <span class="px-2"
                        ><p>Rank<br /><span>in top 30%</span></p></span
                      >
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="p-1"
                      style="background-color: whitesmoke; border-radius: 10px"
                    >
                      <div class="d-flex">
                        <p class="bg-warning p-2" style="border-radius: 10px">
                          32
                        </p>
                        <span class="px-2"
                          ><p>Projects<br /><span>#this month</span></p></span
                        >
                      </div>
                      <div class="tags">
                        <p
                          class="badge text-dark"
                          style="
                            background-color: #00bbbb9d;
                            border-radius: 15px;
                          "
                        >
                          {{project.category|default:'category'}}
                        </p>
                        <p
                          class="badge text-dark"
                          style="
                            background-color: #00bbbb9d;
                            border-radius: 15px;
                          "
                        >
                          {{project.category|default:'category'}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- main second column -->
          <div class="col-lg-4">
            <p style="color: #198787; font-size: small; font-weight: 600">
              Your Projects
            </p>
            <div
              class="p-2"
              style="
                border-radius: 10px;
                box-shadow: 0 1.5px 5px rgba(128, 128, 128, 0.651);
              "
            >
              <!-- first project -->
              <div class="d-flex">
                <i class="fa fa-image mt-3"></i>
                <span class="px-2"
                  ><p>
                    Project name<br /><span>Time remaining in days</span>
                  </p></span
                >
              </div>
              <!-- second project -->
              <div class="d-flex">
                <i class="fa fa-image mt-3"></i>
                <span class="px-2"
                  ><p>
                    Project name<br /><span>Time remaining in days</span>
                  </p></span
                >
              </div>
              <a
                href="{% url 'projects' %}"
                class="text-warning"
                style="text-decoration: none"
                >See all projects</a
              >
            </div>
          </div>
        </section>
        <section class="row">
          <div class="col-lg-8">
            <div class="row-cols-1">
              <div class="col">
                <p
                  style="color: #198787; font-size: small; font-weight: 600"
                  class="my-3"
                >
                  Recent Invoices
                </p>
                <div
                  class="p-3"
                  style="
                    border-radius: 10px;
                    box-shadow: 0 1.5px 5px rgba(128, 128, 128, 0.651);
                  "
                >
                  <!-- first project -->
                  <div class="d-flex justify-content-between">
                    <i class="fa fa-image mt-3"></i>
                    <span class="px-2"
                      ><p>Client name<br /><span>Company name</span></p></span
                    >
                    <p class="badge bg-danger" style=" height: fit-content;">
                      late
                    </p>
                    <p>${{paid|default:"0"}}</p>
                  </div>
                  <!-- second project -->
                  <div class="d-flex justify-content-between">
                    <i class="fa fa-image mt-3"></i>
                    <span class="px-2"
                      ><p>Client name<br /><span>Company name</span></p></span
                    >
                    <p class="badge bg-success" style="height: fit-content;">
                      paid
                    </p>
                    <p>${{paid|default:"0"}}</p>
                  </div>
                </div>
              </div>
              <div
                class="
                  col
                  d-flex
                  flex-row
                  justify-content-between
                  text-white
                  align-baseline
                  mt-4
                "
                style="background-color: #00bbbb9d; border-radius: 15px"
              >
                <i class="fa fa-hashtag p-3" style="font-size: xx-large"></i>
                <span class="pt-2">
                  <p>
                    Engage with clients<br /><span style="color: #f5fcff"
                      >Join our message board</span
                    >
                  </p>
                </span>
                <a
                  href="#message"
                  class="btn btn-warning m-3 text-white"
                  style="
                    width: fit-content;
                    height: fit-content;
                    border-radius: 10px;
                    font-weight: 600;
                  "
                  role="button"
                  >Join now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <p
              style="color: #198787; font-size: small; font-weight: 600"
              class="my-3"
            >
              Recommended Project
            </p>
                  <div
              class="p-3"
              style="
                border-radius: 10px;
                box-shadow: 0 1.5px 5px rgba(128, 128, 128, 0.651);
              "
            >
            <!-- header section -->
              <div class="d-flex justify-content-between">
                <i class="fa fa-image mt-3"></i>
                <span class="px-2"
                  ><p>
                    Client name<br /><span>Updated time</span>
                  </p></span
                >
                <p class="badge bg-warning mt-2" style="height: fit-content;">category</p>
              </div>
              <p>project title here</p>
              <p>project description goes here</p>
              <span class="d-flex justify-content-between p-2" style="background-color: whitesmoke; border-radius: 10px">
                  <p>
                  ${{price|default:"0"}}/month
                  </p>
                  <p class="text-warning p-1" style="border: 1px solid #ffc107; border-radius: 25px;">full time</p>
              </span>
            </div>
          </div>
        </section>
      </div>
    </div>
    {% else %}
    <div>
    <p class="alert alert-danger">Sign in to access this page</p>
    <a class="btn btn-warning m-2" href="{% url 'login' %}">Sign in</a>
    </div>
    {% endif %}
    <script
      type="text/javascript"
      src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
    ></script>
    <script src="{% static 'js/writer.js' %}"></script>
  </body>
</html>
