/* -----Theme-----
---Yellow- #DBC00B
---Pale Yellow- #F1F2D3
---Blue BG- #F5FCFF
---Blue FT- #B7C8CC
---Green- #3E5E61
*/

a:hover {
  color: #dbc00b !important;
}
footer {
  font-size: small;
}
.accordion-button:focus {
  color: #000 !important;
}
div .alert-error {
        color: #842029;
        background-color: #f8d7da;
        border-color: #f5c2c7;
      }

/*-------------- login popup------------------ */
#blur.active {
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
}
#popup {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  /* padding: 20px; */
  background-color: #f5fcff;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#popup.active {
  top: 50%;
  visibility: visible;
  opacity: 1;
  /* width: 30%; */
  transition: 0.5s;
}
#close {
  border: none;
  border-radius: 0px;
  /* float: right; */
}

fieldset #username,
fieldset #password {
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}
fieldset #username:focus,
fieldset #password:focus {
  border: 1px blue !important;
}

.contact {
  background-color: #f5fcff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  width: fit-content;
  text-align: center;
  justify-content: center;
}
fieldset #name,
fieldset #email,
fieldset #subject {
  border: none;
  border-radius: 15px;
  min-width: 300px;
  padding: 10px;
}
fieldset #message {
  min-width: 300px;
  height: 200px;
  border: none;
  border-radius: 15px;
}

.login-btn {
  font-weight: bolder !important;
  float: left;
  box-shadow: 0 2px 7px rgb(47, 74, 78);
}
.btn-post {
  background: #cad4d6;
  font-weight: bold;
}
.btn-apply {
  background: #cad4d6;
  font-weight: bold;
}
.btn-post:hover {
  background-color: #dbc00b !important;
  /* box-shadow: 0px 0.5px 2px rgb(47, 74, 78); */
  color: #fff !important;
}
.btn-apply:hover {
  background-color: #dbc00b !important;
  /* box-shadow: 0px 0.5px 2px rgb(47, 74, 78); */
  color: #fff !important;
}
/* ---------------------------- */
@media only screen and (max-width: 768px) {
  #popup {
    width: unset;
  }
}
