{% extends 'ace_the_essay/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<section class="text-justified py-5">
  <div class="px-5">
    <header
      class="container text-center py-4"
      style="
        background-image: url({% static 'img/background.svg' %});
        background-size: auto;
      "
    >
      <h1 class="display-4">Contact Us</h1>
      <p>Apply now and start earning as a freelance writer</p>
      <a
        href="{% url 'apply' %}"
        class="btn btn-outline-success text-success"
        style="font-size: small"
        ><b>APPLY NOW</b></a
      >
    </header>
    <section class="container d-flex justify-content-center mt-2">
      <form method="POST" class="bg-info" style="width: fit-content">
        {% csrf_token %}
        <fieldset class="form_group m-4 p-4">
          <legend class="border-bottom mb-4 lead">Contact Us</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group mb-2 mx-5">
          <button class="btn btn-outline-success" type="submit">Send</button>
        </div>
      </form>
    </section>
  </div>
</section>
{% endblock content %}
