{% extends 'ace_the_essay/base.html' %} {% load static %} {% load crispy_forms_tags %} {% block content %}
<section class="text-justified py-5">
  <div class="px-5">
    <header
      class="container text-center py-4"
      style=""
    >
      <h1 class="display-4">Contact Us</h1>
      <p>Apply now and start earning as a freelance writer</p>
      <a
        href="{% url 'apply' %}"
        class="btn btn-outline-success text-success"
        style="font-size: small"
        ><b>APPLY NOW</b></a
      >
    </header>
    <section class="d-flex justify-content-center mt-2">
      <form method="POST" class="contact">
        {% csrf_token %}
        <fieldset class="form_group m-4 p-4 d-flex flex-column">
          <legend class="border-bottom mb-4 lead">Contact Us</legend>
          <div class="m-2">
            <small class="text-muted">
              <input type="text" name="name" required id="name" placeholder="Name" />
            </small>
          </div>
          <div class="m-2">
            <small class="text-muted">
              <input type="email" name="email" required id="email" placeholder="Email" />
            </small>
          </div>
          <div class="m-2">
            <small class="text-muted">
              <input type="text" name="subject" required id="subject" placeholder="subject"/>
            </small>
          </div>
          <div class="m-2">
            <small class="text-muted d-flex flex-column">
              <label for="message">Message:</label>
              <textarea class="p-2" type="text" name="message" required id="message" ></textarea>
            </small>
          </div>
        </fieldset>
        <div class="form-group mb-2 mx-5">
          <button id="send-btn" class="btn btn-outline-success" type="submit" value="contact">
            Send
          </button>
        </div>
      </form>
    </section>
  </div>
</section>
{% endblock content %}
