{% extends 'ace_the_essay/base.html' %} {% load static %} {% block content %}
<header class="container text-center py-4">
  <h1 class="display-4"><b>Terms and Conditions</b></h1>
</header>
<section
  class="container text-justified mx-5 px-5 py-5"
  style="
    background-image: url({% static 'img/background.svg' %});
    background-size: auto;
  "
>
  <div class="px-5 d-flex flex-column justify-content-center">
    <p>
      You agree to abide by these Terms & Conditions by using or registering on
      this website (<a href="acetheessay.com" class="text-warning"
        >AceTheEssay.com</a
      >). It is your responsibility to read these Terms & Conditions during or
      before the registration process and the Company shall not be held
      responsible for your inability to do so. The Terms below outline the
      responsibilities of anyone registering at
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a>, as
      well as the consequences of the registrant’s inability to fulfill these
      responsibilities. These Terms are not open to free interpretation and are
      not guidelines; they are the rules any registered User at
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a> must
      follow. All Users are subject to these Terms & Conditions, even if they
      choose not to read them, as they verify by agreeing to them during the
      registration process.
    </p>
    <h4 class="pt-4 pb-2">Terminology</h4>
    <p>
      The following terminology applies to these Terms & Conditions and any
      other agreements put forth by
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a> "User",
      “Writer”, "You" and "Your" refers to you, the person accessing this
      website and accepting the Company's Terms & Conditions. "The Company",
      "Ourselves", "We", "Our" and "Us" refers to our Company. "Party",
      "Parties", or "Us", refers to both the User and ourselves, or either the
      User or ourselves. “Customer” in all of its forms and synonyms refers to
      the person submitting an order request, which is processed and assigned by
      the Company to the Writer. All Terms refer to any activity on our website,
      as well as any interactions with the Company offline or online. The
      Company's stated services/products are all in accordance with, and subject
      to, the prevailing laws of Cyprus. Any use of the above terminology or
      other words in the singular, plural, capitalisation, and/or, he/she, or
      they, are taken as interchangeable and, therefore, as referring to the
      same.
    </p>
    <h4 class="pt-4 pb-2">Plagiarism control</h4>
    <p>
      The User is solely responsible for submitting plagiarism-free work. In
      this context, ‘plagiarism’ implies, but is not limited to:
    </p>

    <ol>
      <li>Previously published materials;</li>
      <li>Part(s) of previously published materials.</li>
      ‘Plagiarism’ also includes:
      <li>
        Previously written content of any kind by the User, submitted to other
        third parties, or in any way published online or distributed to any
        other individuals or entities;
      </li>
      <li>
        Copyrighted or trademarked materials, or any other materials protected
        by property rights, involving any third parties, unless explicitly given
        permission, which the User shall also prove to the Company if such
        instances occur.
      </li>
    </ol>
    Inability to fulfill these plagiarism requirements may result in account
    termination without warning, or in financial and other types of penalties
    that could be applied to the User’s account. By submitting work to
    <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a>, the User
    acknowledges that they are delivering 100% plagiarism-free content and that
    they did everything to avoid any accusations of plagiarism or verified
    instances of plagiarism.
    <h4 class="pt-4 pb-2">Deadline observance</h4>
    <p>
      The User shall track the deadline for their work and ensure that the work
      is delivered on or before the actual deadline. If timely delivery is not
      possible, the Writer will do everything possible in their power to notify
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a> in
      advance, with reasonable advance notice. Solving any personal matters that
      might prevent the Users from delivering work on time is their sole
      responsibility and the Company is not obliged to provide any deadline
      extensions if such instances occur. Writers cannot extend their deadlines
      without verifying them with
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a>.
    </p>
    <p>
      If the User fails to fulfill these deadline requirements, the Company
      holds the right to:
    </p>

    <ol>
      <li>Impose a fine on the User;</li>
      <li>Terminate the contract with the User for the late order;</li>
      <li>
        Freeze any payments associated with the order, including any work that
        has already been delivered or not
      </li>
    </ol>
    The Company may choose to apply all of these measures at once. The User
    shall be aware of this by reading the Terms & Conditions.
    <h4 class="pt-4 pb-2">Good standing</h4>
    <p>
      applying and registering on our website verify that they are skilled,
      qualified Writers of good standing. Users shall submit only true and
      complete information. This refers to anything requested by us during the
      application process or after. This also includes personal identification
      documents for account verification, which the User agrees to submit in a
      proper fashion.
    </p>
    <p>
      The Company shall hold the right to decide when it needs to verify a
      User’s account, and the User agrees to fulfill these requests in a timely
      manner. Failure to submit the right information or verify the account can
      result in account termination and/or payment cancellation for any
      outstanding balance. Any Writer working at
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a> agrees
      to these Terms.
    </p>
    <p>
      Users cannot share their account with other individuals, or sell access to
      the account to any other individuals or entities. Such actions will result
      in account termination, without the release of due payment.
    </p>
    <h4 class="pt-4 pb-2">Quality assurance</h4>
    <p>
      Any submitted work or communications by the User will adhere to general
      writing quality standards, as well as Customer instructions, in cases when
      these instructions are applicable or identified by the Customer. These
      writing quality standards include typos/ spelling errors, and any other
      minor writing mistakes. If such mistakes are present and pointed out to
      the Writer by
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a>, the
      Writer will do everything in their power to eliminate them, to the best of
      their abilities and skills.
    </p>
    <h4 class="pt-4 pb-2">Revisions</h4>
    <p>
      Whenever the Customer is not satisfied with the quality of the writing (to
      be proven) he/she can ask for a revision. The Writer shall complete the
      revision within a defined period of time. Revisions may carry a payment if
      the customer changes initial requirements. It is mandatory for the Writer
      to complete any revision. Each request for not writing a revision is
      assessed as a unique case, and is treated individually.
    </p>
    <p>
      The Writer will primarily operate with the goal of keeping the Customer
      happy and satisfied with the outcome of the order. Failure to do so may
      result in penalties, individually determined by the Company.
    </p>
    <h4 class="pt-4 pb-2">Format requirements</h4>
    <p>
      Format requirements must be fulfilled in the strictest manner. Failing to
      observe them will result in a fine. Exceptions are made if Customer
      instructions differ from the standard requirements set by the Company.
    </p>
    <p>
      Users shall fulfill all format requirements put forth by the Company or
      the Customer. Failure to do so will result in a penalty or a fine.
      Precedence is given to Customer instructions.
    </p>
    <h4 class="pt-4 pb-2">Copyright</h4>
    <p>
      By submitting any completed content to
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a>, the
      Writer transfers the copyright to that content, which may include, but is
      not limited to, displaying, copying, modifying, publishing, and
      distributing it. This content may include, but is not limited to, draft
      documents, final documents, draft images, final images, draft tables,
      final tables, draft spreadsheets, final spreadsheets, etc.
    </p>
    <p>
      The User cannot share this content with any entities or individuals
      outside of
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a> without
      explicit permission from
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a>.
      Failure to comply will result in account termination without the release
      of any payments due.
    </p>
    <h4>Equipment, maintenance and security</h4>
    <p>
      Users of
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a> shall:
    </p>
    <ol>
      <li>
        Possess all of the necessary equipment to fulfill orders supplied by
        <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a>,
        which includes, but is not limited to, computers, telephones, internet
        access points, wi-fi routers, etc.
      </li>
      <li>
        Maintain all equipment in good working condition, as well as make
        repairs, as needed, at the User’s cost.
      </li>
      <li>
        Ensure physical and digital security of the equipment and any
        communication and data transfer between the User and the Company.
      </li>
    </ol>
    Violation of these Terms may result in penalties and account termination.
    <h4 class="pt-4 pb-2">Personal information</h4>
    <p>
      The Company’s Privacy Policy regulates any use of a User’s personal
      information. The User agrees to this policy by visiting or registering at
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a>. Using
      multiple accounts under multiple identities is prohibited in any form. The
      User agrees to the condition that they shall not use voice mail to
      communicate with the Company, as it prevents immediate content with the
      User. Equal employment
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a> does
      not discriminate in employment on the basis of race, color, religion, sex
      (including pregnancy and gender identity), national origin, political
      affiliation, sexual orientation, marital status, disability, genetic
      information, age, membership in an employee organisation, parental status,
      military service, or other non-merit factors.
    </p>
    <h4 class="pt-4 pb-2">Indemnification</h4>
    <p>
      You agree that you are solely responsible for the content of any work
      submitted to the Company and/or its Customers. You also agree to indemnify
      and hold harmless the Company, its owners, and employees with respect to
      any claims based upon the submissions to the Company and/or its Customers.
    </p>
    <h4 class="pt-4 pb-2">Limited liability</h4>
    <p>
      The company will not be liable to a member, visitor, user or any other
      person or entity for any damages that result from the use of - or the
      inability to use - the website. Nor is it liable for reliance on the
      information contained in the website, support services, or for any
      consequential, incidental, indirect, punitive, special, or similar
      damages, even if advised of the possibility of such damages.
    </p>
    <p>
      The company, affiliates, any officer, director, employee, subcontractor,
      agent, successor, or assignee of the company, or their affiliates, will
      not be liable for any direct, indirect, incidental, special, or
      consequential damages of any kind whatsoever. This includes, without
      limitation, attorney's fees and lost profits or savings in any way due to,
      resulting from, or arising in connection with, this website, including its
      content.
    </p>
    <h4 class="pt-4 pb-2">Modification of terms</h4>
    <p>
      These Terms & Conditions may be modified by the Company at any time
      without prior notice. The website might contain links to other websites
      for which the Company does not maintain control. Any concerns regarding
      any such service or resource, or any link thereto, should be directed to
      the particular service or resource. Continued use of this website
      following any change constitutes acceptance of the change.
    </p>
    <h4 class="pt-4 pb-2">Severability</h4>
    <p>
      If any part of these Terms & Conditions are deemed to be unlawful, void,
      or for any reason unenforceable, then that part shall be deemed to be
      severable from these Terms and Conditions and shall not affect the
      validity and enforceability of any of the remaining Terms and Conditions.
    </p>
    <h4 class="pt-4 pb-2">General</h4>
    <p>
      These Terms are enforced throughout the site for every User, and all
      submitted work, which falls within these Terms. The User shall carry the
      burden of proof in any investigation. The Company shall hold the right to
      terminate the account of any User in case of any violation of these Terms
      & Conditions. The Company shall not be held responsible for the
      explanation of such actions to the User, whose account is terminated. Any
      other rules, requirements, and internal regulations not included in these
      Terms, but explicitly stated by
      <a href="acetheessay.com" class="text-warning">AceTheEssay.com</a> or by
      any of its team members, or published on the website, shall hold the same
      power as these Terms & Conditions, with all of the applicable consequences
      for the User.
    </p>
    <p>
      These Terms & Conditions have been updated on:<strong> 08/12/2021</strong>
    </p>
  </div>
</section>
{% endblock content %}
