{% extends 'ace_the_essay/base.html' %} {% load static %} {% block content %}
<header
  class="container text-center py-4"
  style="
    background-image: url({% static 'img/background.svg' %});
    background-size: auto;
  "
>
  <h1 class="display-4">Why Us</h1>
  <p>Apply now and start earning as a freelance writer</p>
  <a
    href="{% url 'apply' %}"
    class="btn btn-outline-success text-success"
    style="font-size: small"
    ><b>APPLY NOW</b></a
  >
</header>
<section class="mt-5 container row" style="text-align: justify;">
  <h5 class="text-primary justify-center">Clients</h5>
  <div class="col-md-4 p-2">
  <h6 class="lead text-warning">Best Custom Essay Writing - University Essay Services</h6>
  <p>
    Acetheessay.com is the best essay writing services company that offers
    assistance to students across the globe especially in Australia, the USA and
    UK among others. Our main aim is to assist students at different levels to
    attain their academic goals and aspirations without having to spend too much
    of their precious time writing their high school, college and university
    assignments. With 7-year experience in this field, we have gained the trust
    of many customers worldwide and can guarantee you provision of the best,
    affordable and high quality and best custom essay writing services in
    Australia, custom essay writing services in the USA and custom essay writing
    services in the UK among other countries. We pride ourselves on giving 100%
    satisfaction to our esteemed customers.
  </p>
  </div>
  <div class="col-md-4 p-2 bg-secondary">
  <h6 class="lead text-warning">Our Cheap Essay Writing Services</h6>
  <p>
    Our team of writers is made up of highly experienced professionals qualified
    in various academic fields and they are at the forefront in delivering
    high-quality university essay writing services, research paper writing
    services, dissertation writing services, thesis writing services and term
    paper writing services just to mention a few. Having spent years in this
    industry, we know exactly how to satisfy our customers, irrespective of the
    challenges posed by their needs. Acetheessay.com offers a wide range of
    custom essay writing services in how to write thesis statements, writing
    research papers, essays ( for instance law essay, nursing essay, sociology
    essay and philosophy essay), term papers, theses, course works,
    dissertations, case studies, lab reports, article critiques and formatting
    services among others.
  </p>
  </div>
  <div class="col-md-4 p-2">
  <h6 class="lead text-warning">Quality</h6>
  <p>
    Our fundamental goal is to always offer assignment writing assistance
    services and deliver exceptional custom papers at very competitive prices.
    Upon receiving assignment instructions, we assign the order to an essay
    typer who has relevant knowledge and skills in the respective field of
    study. We facilitate reliable communication between the client and the cheap
    Australia essay writers to ensure that any additional instruction is timely
    relayed. Quality Assurance Department (QAD) reviews the academic paper to
    ensure all instructions have been adhered to, proper formatting and
    proofreading have been done. Acetheessay.com implements a zero-tolerance
    policy on plagiarism and all its academic and best essay writing services to
    ensure its customers receive 100% original products.
  </p>
  </div>
  <div class="col-md-4 p-2 bg-secondary">
  <h6 class="lead text-warning">Security, Privacy and Confidentiality</h6>
  <p>
    EssayBureau.com is installed with an SSL certificate and all connections to
    our website are private and encrypted using obsolete cypher suite -modern
    256-bit data encryption. In addition, our Terms and Conditions and Privacy
    Policy does prohibit sharing any customer's information or data with a third
    party. Thus, be assured of 100% security, privacy and confidentiality. Thus
    feel free and secure to place an order anytime.
  </p>
  </div>
  <div class="col-md-4 p-2">
  <h6 class="lead text-warning">Our Custom Essay Writing Services Offers</h6>
  <ul>
    <li>On-time delivery guarantee</li>
    <li>100% money-back guarantee</li>
    <li>PhD-level professional editors</li>
    <li>plagiarism check</li>
    <li>100% Privacy and Confidentiality</li>
    <li>High-Quality custom-written papers</li>
  </ul>
  </div>
</section>
<section class="mt-5 container">
  <!-- second section -->
  <h5>Writers</h5>
  <div class="container">
    <div class="container row d-flex justify-content-md-center">
      <div
        class="col-sm-11 col-md-9 col-lg-8 col-xl-8 m-2 p-3"
        style="background: #b7c8cc"
      >
        <h6><b>Candidate</b></h6>
        <p>
          Successfully pass the application process which is paid with the 1st
          payroll
        </p>
      </div>
      <div
        class="col-sm-11 col-md-9 col-lg-8 col-xl-8 m-2 p-3"
        style="background: #b7c8cc"
      >
        <h6><b>Trainee</b></h6>
        <p>Complete your 1st test order</p>
      </div>
      <div
        class="col-sm-11 col-md-9 col-lg-8 col-xl-8 m-2 p-3"
        style="background: #b7c8cc"
      >
        <h6><b>Expert</b></h6>
        <p>
          Become an experienced writer with a $1,000+ salary, paid twice a
          month.
        </p>
      </div>
    </div>
  </div>
  <div
    class="position-absolut bg-success"
    style="width: 100%vw; min-height: 10vh"
  ></div>

  <!-- Benefits section -->
  <section>
    <div class="row text-center bg-success">
      <div class="col-lg-2 col-md-4 d-flex justify-content-center">hi</div>
      <div class="col-lg-2 col-md-4 d-flex justify-content-center">hi</div>
      <div class="col-lg-2 col-md-4 d-flex justify-content-center">hi</div>
      <div class="col-lg-2 col-md-4 d-flex justify-content-center">hi</div>
      <div class="col-lg-2 col-md-4 d-flex justify-content-center">hi</div>
      <div class="col-lg-2 col-md-4 d-flex justify-content-center">hi</div>
    </div>
  </section>
</section>
{% endblock content %}
