{% extends 'applicant/base.html' %} {% load crispy_forms_tags %} 
{% block content %}

<div class="content-section m-5">
  <h3>Test Task</h3>
  <p>
    Instructions: open the file below and follow the instruction given to
    complete the task. <br />
    Please note that this task will determine whether you're fit for
    <b>AceTheEssay.com</b> or not
  </p>
  <p>Task: <a href="#file" target="_blank" rel="noopener noreferrer">Test task</a><p>
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form_group m-4 p-4">
      <legend class="border-bottom mb-4 lead">Finished Test Task</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group mb-2 mx-5">
      <button class="btn btn-outline-warning" type="submit">Submit</button>
    </div>
  </form>
</div>

{% endblock content %}
