{% extends 'users/base.html' %} {% block content %}

<!-- navbar tabs area -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <!-----------All Invoices Tab---------->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link active"
      id="allInvoices-tab"
      data-bs-toggle="tab"
      data-bs-target="#allInvoices"
      type="button"
      role="tab"
      aria-controls="allInvoices"
      aria-selected="true"
      style="color: #198787; font-size: medium; font-weight: 600"
    >
      All Invoices
    </button>
  </li>

  <!-----------Late Invoices Tab---------->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="lateInvoices-tab"
      data-bs-toggle="tab"
      data-bs-target="#lateInvoices"
      type="button"
      role="tab"
      aria-controls="lateInvoices"
      aria-selected="false"
      style="color: #198787; font-size: medium; font-weight: 600"
    >
      Late Invoices
    </button>
  </li>

  <!-----------Paid Invoices Tab---------->
  <li class="nav-item" role="presentation">
    <button
      class="nav-link"
      id="paidInvoices-tab"
      data-bs-toggle="tab"
      data-bs-target="#paidInvoices"
      type="button"
      role="tab"
      aria-controls="paidInvoices"
      aria-selected="false"
      style="color: #198787; font-size: medium; font-weight: 600"
    >
      Paid Invoices
    </button>
  </li>
</ul>

<!-- tabs content area -->
<div class="tab-content" id="myTabContent">
  <!-----------All Invoices Tab content---------->
  <div
    class="tab-pane fade show active"
    id="allInvoices"
    role="tabpanel"
    aria-labelledby="allInvoices-tab"
  >
    <!------------- content -------------->
    {% for project in assigned %}

    <section class="row row-cols-1 p-2">
      <div
        class="col p-1 mt-2"
        style="
          border-radius: 10px;
          box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
        "
      >

      <!------------------ header section ---------------------- -->
        <div class="d-flex">
          <i class="fa fa-image mt-3"></i>
          <span class="px-4"
            ><p>
              {{project.title}}<br /><span class="badge bg-danger m-2"
                >{{ project.type_of_paper }}</span
              ><a
                href="#writer"
                class="badge bg-success"
                style="text-decoration: none; z-index: 2"
                >{{project.username}}</a
              >
            </p></span
          >
        </div>
      
        <!-- ------------- bottom section -------------------- -->
        <span
          class="d-flex justify-content-between p-2"
          style="background-color: whitesmoke; border-radius: 10px"
        >
          <span>
            <p class="badge bg-primary">${{ project.price|default:"0" }}/page </p><small class="text-muted"> Status:</small>
            <p class="badge bg-info"> {{ project.bid.completetask.upload_date|default:"Not Complete" }}</p>
          </span>
          <span>
            <a
              class="btn btn-outline-success p-2"
              href="{{ project.get_absolute_url }}"
              style="height: fit-content; font-size: small"
              >view details</a
            >
          </span>
        </span>
      </div>
    </section>

    {% endfor %}
  </div>

  <!-----------Late Invoices Tab content---------->
  <div
    class="tab-pane fade"
    id="lateInvoices"
    role="tabpanel"
    aria-labelledby="lateInvoices-tab"
  >
    <!----------------------- content ------------------->
    <section class="row row-cols-1 p-2">late invoices</section>
  </div>

  <!-----------Paid Invoices Tab content---------->
  <div
    class="tab-pane fade"
    id="paidInvoices"
    role="tabpanel"
    aria-labelledby="paidInvoices-tab"
  >
    <!--------------------- content -------------------- -->
    {% for project in complete %}
    {% if project.paid and project.complete is True %}
    
        <section class="row row-cols-1 p-2">
      <div
        class="col p-1 mt-2"
        style="
          border-radius: 10px;
          box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
        "
      >

      <!------------------ header section ---------------------- -->
        <div class="d-flex">
          <i class="fa fa-image mt-3"></i>
          <span class="px-4"
            ><p>
              {{project.title}}<br /><span class="badge bg-danger m-2"
                >{{ project.type_of_paper }}</span
              ><a
                href="#writer"
                class="badge bg-success"
                style="text-decoration: none; z-index: 2"
                >{{project.username}}</a
              >
            </p></span
          >
        </div>
      
        <!-- ------------- bottom section -------------------- -->
        <span
          class="d-flex justify-content-between p-2"
          style="background-color: whitesmoke; border-radius: 10px"
        >
          <span>
            <p class="badge bg-primary">${{ project.price|default:"0" }}/page </p><small class="text-muted"> Status:</small>
            
            {% if project.complete is True %}
            <p class="badge bg-info"> {{ project.bid.completetask.upload_date| default:"Complete"}}</p>
            {% else %}
            <p class="badge bg-info">Not Complete</p>
            {% endif %}
          </span>
          <span>
            <a
              class="btn btn-outline-success p-2"
              href="{{ project.get_absolute_url }}"
              style="height: fit-content; font-size: small"
              >view details</a
            >
          </span>
        </span>
      </div>
    </section>

    {% else %}
    <p> </p>
    {% endif %}
    {% endfor %}

  </div>
</div>

{% endblock content %}
