{% extends 'writer/base.html' %} {% load crispy_forms_tags %} {% block content %} {% if usergroup is True %}
<p class="alert alert-danger">
  If coming from client dashboard, you have been redirected to the writer project detail page because you are
  logged in as an Admin. To see the client detail view log in as a client.
  <a class="text-danger" href="{% url 'login' %}">Login</a>
  <i class="fa fa-exclamation-circle"></i>
</p>
{% else %}
<span></span>
{% endif %}

<section class="media content-section container">
  <div class="media-body">
    <div
      class="article-metadata p-2 d-flex justify-content-between"
      style="background: #00bbbb9d"
    >
      <div class="d-flex">
      <img
        src="{{ object.username.profile.image.url }}"
        alt=""
        class="rounded-circle article-img"
        style="max-width: 50px; height: 50px"
      />
      <a id="username" href="#" class="m-2 text-white"
        >{{ object.username }}</a
      >
    </div>

      <span class="d-none d-lg-block">
        <small class="badge bg-danger">
          Deadline:
          <span style="font-weight: 600">{{object.deadline}}</span></small
        >
        <span class="badge bg-primary"
          >Price: $4.0 /pg</span
        >
      </span>

      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
    </div>
    <div class="mt-3 project-details">
      <span class="d-lg-none">
        <small class="badge bg-danger">
          Deadline:
          <span style="font-weight: 600">{{object.deadline}}</span></small
        >
        <span class="badge bg-primary mb-2"
          >Price: $4.0 /pg</span
        >
      </span>

      <h2
        class="project-title lead border-bottom"
        style="color: #198787; font-weight: 600"
      >
        {{ object.title }}
      </h2>
      <p><strong>Academic Level:</strong> {{object.academic_level}}</p>
      <p><strong>Type of Paper:</strong> {{object.type_of_paper}}</p>
      <p><strong>Subject Area:</strong> {{object.subject_area}}</p>
      <p><strong>Subject Area:</strong> {{object.paper_format}}</p>
      <p><strong>Number of Pages:</strong> {{object.number_of_pages}}</p>
      <p class="border-bottom"><strong>Spacing:</strong> {{object.spacing}}</p>
      <p class="project-content text-dark bg-light border-bottom">
        {{ object.paper_instructions }}
      </p>
      <p class="text-secondary">
        Additional Materials: {{object.additional_materials| default:'None'}}
      </p>
    </div>
  </div>
  {{ object.title.bid }}
  <div class="d-fle* justify-content-between">
    {% if assigned is True %}
    <form
      class="upload mb-5"
      method="POST"
      action=""
      enctype="multipart/form-data"
    >
      {% csrf_token %}
      <fieldset class="form_group m-4 p-4 d-non">
        <legend class="border-bottom mb-4">Completed Project</legend>
        {{ cForm|crispy }}
      </fieldset>
      <div class="form-group">
        <button
        id="upload"
          class="btn btn-outline-success"
          type="submit"
          name="action"
          value="cForm"
        >
          Upload
        </button>
      </div>
    </form>
    {% else %}

    {% if bid is False %}
    <form class="bid" method="POST" action="">
      {% csrf_token %}
      <fieldset class="form_group m-4 p-4 d-none">
        <legend class="border-bottom mb-4">Bid</legend>
        {{bForm}}
        <!-- <input type="text" name="project" id="project" placeholder="project">
        <input type="text" name="made_by" id="made_by" placeholder="made_by"> -->
      </fieldset>
      <div class="form-group">
        {% if bid_sent is True %}
        <button
        id="unbid"
          class="btn btn-danger d-flex justify-content-end mb-4"
          type="submit"
          name="action"
          value="bForm"
        >
          Unbid
        </button>
        {% else %}
        <button
        id="bid"
          class="btn btn-success text-white d-flex justify-content-end mb-4"
          type="submit"
          name="action"
          value="bForm"
        >
          Bid
        </button>
        {% endif %}
      </div>
    </form>
    {% else %}
    <p class="badge bg-danger m-4"> You can no longer bid on this project for it is already assigned a writer!</p>
    {% endif %}


    {% endif %}
    
    
  </div>
</section>

{% endblock content %}
