{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>


    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="stylesheet" href="{% static 'vendor/fa/css/all.css' %}" />
    <script
      type="text/javascript"
      src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"
    ></script>
    <link
      rel="shortcut icon"
      href="{% static 'img/favicon.svg' %}"
      type="image/x-icon"
    />
    {% block css %}{% endblock %}
</head>

<body>
    {% block content %}{% endblock %}
    {% block javascript %}{% endblock %}
</body>

</html>