{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link
      rel="stylesheet"
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/writer.css' %}" />
    <link rel="stylesheet" href="{% static 'vendor/fa/css/all.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicon.svg' %}" type="image/x-icon" />
    <title>ACE - Writer</title>
  </head>
  {% if user.is_authenticated %}
  <body style="background-color: #f5fcff; font-family: 'Poppins', sans-serif">
    <!-- Sidebar menu -->
    <div id="navcol-1" class="sidebar-container">
      <div class="sidebar-logo p-0 text-center" style="">
        <p id="avgScore" class="d-none">{{ rating|safe }}</p>
        <a class="btn text-white" href="{% url 'settings' %}" role="button">
          <img
            src="{{ user.profile.image.url }}"
            alt="profile"
            class="rounded-circle mx-2"
            style="max-width: 60px; height: 60px"
          />
          <p id="starScore"style="font-size: 13px;">{{ user.username }}<br>
            <span class="fa fa-star" id="one"></span>
            <span class="fa fa-star" id="two"></span>
            <span class="fa fa-star" id="three"></span>
            <span class="fa fa-star" id="four"></span>
            <span class="fa fa-star" id="five"></span>

            <br>{{ user.email }}</p>
        </a>
        <span class="d-lg-none text-secondary mx-2 p-2 rounded">
            <i class="fa fa-bell p-2 fa-sm rounded" style="background-color: #ebebeb;"></i>
            <i class="fa fa-envelope mx-1 p-2 fa-sm rounded" style="background-color: #ebebeb;"></i>
          </span>
      </div>
      <ul class="sidebar-navigation">
        <li class="header">Navigation</li>
        <li>
          <a href="{% url 'writer' %}">
            <i class="fa fa-tachometer-alt" aria-hidden="true"></i> Dashboard
          </a>
        </li>
        <li>
          <a href="{% url 'projects' %}">
            <i class="fa fa-clipboard-list" aria-hidden="true"></i> Projects
          </a>
        </li>
        <li>
          <a href="{% url 'writer_bids' %}">
            <i class="fa fa-hammer" aria-hidden="true"></i> Bids
          </a>
        </li>
        <li>
          <a href="{% url 'invoices' %}">
            <i class="fa fa-wallet" aria-hidden="true"></i> Invoices
          </a>
        </li>
        <li>
          <a href="{% url 'reports' %}">
            <i class="fa fa-chart-pie" aria-hidden="true"></i> Reports
          </a>
        </li>
        <li>
          <a href="{% url 'settings' %}">
            <i class="fa fa-cog" aria-hidden="true"></i> Settings
          </a>
        </li>
        <li>
          <a href="{% url 'library' %}">
            <i class="fa fa-book" aria-hidden="true"></i> Library
          </a>
        </li>
      </ul>
      <a
        href="{% url 'logout' %}"
        class="text-white mx-5 my-3 btn btn-danger"
        style="text-decoration: none"
        role="button"
      >
        <i class="fa fa-sign-out-alt"></i> log out
      </a>
      <div class="help mx-4 my-4">
        <p>
          Having trouble? <br />
          <a href="{% url 'contact' %}">Contact us</a>
        </p>
      </div>
      <!-- copyright section -->
      <p
        class="d-flex flex-column text-white text-center badge mt-5 text-center"
        style="
          box-shadow: inset 0 -1px 3px #0000009d, inset 0 1px 3px #0000009d;
        "
      >
        2021&copy; Ace The Essay <i class="fa fa-heart px-1"></i>Made by<a
          class="text-warning"
          href="https://barryimranapp.herokuapp.com/"
          style="text-decoration: none"
          >Barrylabs</a
        >
      </p>
      <!-- end of copyright -->
    </div>
    <!-- Page content -->
    <div class="content-container mb-4">
      <div class="container-fluid">
        <!-- navbar area -->
        <nav class="navbar">
          <div class="navbar-brand">
            <p>
              Welcome back,
              <span style="color: grey"
                >{{ user.username|default:'Guest' }}</span
              >
            </p>
          </div>
          <div class="form-group has-search justify-content-between">
            <input
              type="text"
              name="search"
              id="project"
              class="form-control"
              placeholder="Search for projects"
              style="
                border: none;
                background-color: #cfe2eb9f;
                padding: 5px;
                border-radius: 10px;
                font-size: small;
              "
            />
          
        </div>
        <span class="d-none d-lg-block text-secondary mx-2 p-2 rounded">
          <i class="fa fa-bell p-2 rounded" style="background-color: #ebebeb;"></i>
          <i class="fa fa-envelope mx-1 p-2 rounded" style="background-color: #ebebeb;"></i>
        </span>
          <button
            class="navbar-toggler collapsed d-lg-none"
            data-bs-toggle="collapse"
            data-bs-target="#navcol-1"
            aria-expanded="false"
          >
            <span class="visually-hidden">Toggle navigation</span>
            <i class="fas fa-bars text-success"></i>
          </button>
        </nav>
        <!-- content area -->
        <section class="row">
          <!-- main first column -->
          <div class="col-lg-8">
            <!-- main div dividing into two -->
            <div class="row">
              <!-- first column -->
              <div class="col-lg-6">
                <div
                  class="p-4"
                  style="border-radius: 10px; border: solid #00bbbb 1px;"
                >
                  <div class="d-flex justify-content-between">
                    <p class="" style="font-weight: 600;">Total Projects<p>
                    <p style="font-weight: 600;">{{ count| default:"0" }}</p>
                  </div>
                  <canvas id="WriterProjectsChart"></canvas>
                </div>
              </div>
              <!-- second column -->
              <div class="col-lg-6 second">
                <div
                  class="row row-cols-1 p-1"
                  style="
                    border-radius: 10px;
                    box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
                  "
                >
                  <div class="col">
                    <div
                      class="d-flex mb-2 p-1"
                      style="background-color: whitesmoke; border-radius: 10px"
                    >
                      <p class="bg-warning p-2" style="border-radius: 10px">
                        {{ rank| default:"0" }}
                      </p>
                      <span class="px-2"
                        ><p>Rank<br /><span class="badge text-dark">in top 5%</span></p></span
                      >
                    </div>
                  </div>
                  <div class="col">
                    <div
                      class="p-1"
                      style="background-color: whitesmoke; border-radius: 10px"
                    >
                      <div class="d-flex">
                        <p class="bg-warning p-2" style="border-radius: 10px">
                          {{ count| default:"0" }}
                        </p>
                        <span class="px-2"
                          ><p>Project(s)<br /><span class="badge text-dark">This month</span></p></span
                        >
                      </div>
                      <div class="tags">

                        {% for project in completedProjects %}
                        <p
                          class="badge text-dark"
                          style="
                            background-color: #00bbbb9d;
                            border-radius: 15px;
                          "
                        >
                          {{ project.type_of_paper|default:'category' }}
                        </p>
                        {% endfor %}

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- main second column -->
          <div class="col-lg-4">
            <p style="color: #198787; font-size: small; font-weight: 600">
              Active Projects
            </p>
            <div
              class="p-2 third"
              style="
                border-radius: 10px;
                box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
              "
            >
              <!-- first project -->
              {% if projects %}
              {% for project in projects %}
              {% if project.complete is False %}

              <div class="d-flex">
                <a href="#profile">{{ project.username.image }}</a>
                <span class="px-2"
                  ><p>
                    <a 
                      href="{{ project.get_absolute_url }}" 
                      class="text-secondary" 
                      style="text-decoration: none"
                      >{{ project.title }}</a
                    ><br /><span class="badge bg-success">{{ project.date_posted|date:"F d - Y" }}</span>
                    <span class="badge bg-danger">Deadline: {{ project.deadline|date:"F d - Y" }}</span>
              </div>
                            
              {% else %}
              <span></span>
              {% endif %}
              {% endfor %}
              {% else %}
              <p class="alert alert-info"> You don't have any active projects to display</p>
              {% endif %}

              <a
                href="{% url 'projects' %}"
                class="text-warning"
                style="text-decoration: none"
                >See all projects</a
              >
            </div>
          </div>
        </section>
        <section class="row">
          <div class="col-lg-8">
            <div class="row-cols-1">
              <div class="col">
                <p
                  style="color: #198787; font-size: small; font-weight: 600"
                  class="my-3"
                >
                  Recent Invoices
                </p>
                <div
                  class="p-3 fourth"
                  style="
                    border-radius: 10px;
                    box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
                  "
                >
                {% if projects %}
                {% for project in projects %}
                  <!-- first project -->
                  <div class="d-flex justify-content-between">
                    <img
                    src="
                      {{ project.username.profile.image.url | default:'writer name' }}
                    "
                    alt="profile"
                    class="rounded-circle"
                    style="max-width: 40px; height: 40px"
                  />
                    <span class="px-2 badge text-secondary"
                      ><p><span class="text-warning">{{ project.username }}</span><br /><span>{{ project.title }}</span></p></span
                    >
                    {% if project.complete and project.paid is True %}
                      <p class="badge bg-success" style="height: fit-content">
                        paid
                      </p>
                    {% else %}
                      <p class="badge bg-danger" style="height: fit-content">
                        pending
                      </p>
                    {% endif %}
                    <p class="badge bg-primary">$ {{ project.number_of_pages|mul:4 }}.0</p>
                  </div>
                {% endfor %}
                {% else %}
              <p class="alert alert-info"> Your invoices will be shown here</p>
                {% endif %}
                
                </div>
              </div>
              <div
                class="
                  col
                  d-flex
                  flex-row
                  justify-content-between
                  text-white
                  align-baseline
                  mt-4
                "
                style="background-color: #00bbbb9d; border-radius: 15px"
              >
                <i class="fa fa-hashtag p-3" style="font-size: xx-large"></i>
                <span class="pt-2">
                  <p>
                    Engage with clients<br /><span style="color: #f5fcff"
                      >Join our message board</span
                    >
                  </p>
                </span>
                <a
                  href="#message"
                  class="btn btn-warning m-3 text-white disabled"
                  style="
                    width: fit-content;
                    height: fit-content;
                    border-radius: 10px;
                    font-weight: 600;
                  "
                  role="button"
                  >Join now</a
                >
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <p
              style="color: #198787; font-size: small; font-weight: 600"
              class="my-3"
            >
              Recommended Project
            </p>

            {% if recommended %}
            {% for project in recommended %}
            <a class="btn" href="{{ project.get_absolute_url }}" role="button">
              <div
                class="p-3 fifth"
                style="
                  border-radius: 10px;
                  box-shadow: 0 0.5px 2px rgba(128, 128, 128, 0.651);
                "
              >
                <!-- header section -->
                <div class="d-flex justify-content-between">
                  <img
                    src="{{ project.username.profile.image.url }}"
                    alt="profile"
                    class="rounded-circle"
                    style="max-width: 40px; height: 40px"
                  />
                  <span class="px-2"
                    ><p class="badge text-muted">{{ project.username }}<br /><span>{{project.update_time}}</span></p></span
                  >
                  <p class="badge bg-warning mt-2" style="height: fit-content">
                    {{ project.type_of_paper }}
                  </p>
                </div>
                <span>
                  <p class="badge bg-info">{{ project.subject_area }}</p>
                  <p class="bg-secondary text-white"
                  >{{ project.title }}</p>
                </span>
                <span
                  class="d-flex justify-content-between p-2"
                  style="background-color: whitesmoke; border-radius: 10px"
                >
                  <p>$ {{ project.number_of_pages|mul:4 }}.0</p>
                  <p
                    class="badge bg-danger"
                  >
                    Deadline: {{ project.deadline|date:"M d - P" }}
                  </p>
                </span>
              </div>
            </a>
            {% endfor %}
            {% else %}
            <p class="alert alert-info"> There are no recommended projects at this time, please come back later</p>
            {% endif %}

          </div>
        </section>
      </div>
    </div>
    <footer class="d-lg-none bg-light">
      <p
        class="
          d-flex
          justify-content-center
          badge
          mb-0
        "
        style="color: #198754;"
      >
        2022&copy; Ace The Essay <i class="fa fa-heart px-1"></i> Made by
        <a target=_blank
          href="https://barryimranapp.herokuapp.com/" class="text-decoration-none text-warning px-1">
          Barrylabs</a
        >
      </p>
    </footer>
    {% else %}
    <div>
      <p class="alert alert-danger">Sign in to access this page</p>
      <a class="btn btn-warning m-2" href="{% url 'login' %}">Sign in</a>
    </div>
    {% endif %}
    <script
      type="text/javascript"
      src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendor/jquery/jquery-3.6.0.min.js' %}"
    ></script>
    <script type="text/javascript" src="{% static 'js/writer.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        //clientProjectsChart
        const ctx = document.getElementById('WriterProjectsChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: {% if labels %}{{ labels|safe }}{% else %}['January']{% endif %},
                datasets: [{
                    label: 'Projects',
                    data: {% if data %}{{ data|safe }}{% else %}[0]{% endif %},
                    backgroundColor: [
                        'rgb(255, 99, 132)',
                        'rgb(54, 162, 235)',
                        'rgb(255, 206, 86)',
                        'rgb(75, 192, 192)',
                        'rgb(153, 102, 255)',
                        'rgb(255, 159, 64)'
                    ],
                    /*borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],*/
                    hoverOffset: 4
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

      });
    </script>
  </body>
</html>
